* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family:'Roboto' sans-serif;
    background-color: #7a7a7a;
}

/*NavBar*/
nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 68px;
}

.menu {
    display: flex;
    gap: 30px;
    list-style: none;
}

.menu a {
    text-decoration: none;
    color: #00aa2f;
    font-size: 16px;
    padding: 13px 20px;
}

.ct-bykea {
    background-color: #00aa2f;
    color: white;
    font-size: 15px;
    font-weight: 600;
    border: 1px solid #00aa2f;
    border-radius: 5px;
    width: 162px;
    height: 41px;
    cursor: pointer;
}

.ct-bykea:hover {
    background-color: white;
    color: #00aa2f;
}

.sec-1 {
    height: 300px;
    /* border: 1px solid black;*/
    padding: 0px 0px 30px;
    width: 80%;
    margin: 0 auto;
    padding-top: 100px;

}

.content-1 h2 {
    color: #00aa2f;
    font-size: 31px;
}

.content-1 p {
    font-size: 16px;
    line-height: 1.2;
}

#carouselExample {
    margin-top: 50px;
}

.py-5 {
    background-color: white;
}

.content-2 {
    height: 900px;
    margin-top: 50px;
    display: flex;
    align-items: center;

    width: 85%;
    margin: 0 auto;
}

.left-side img {
    opacity: contain;
    height: 890px;

}

.right-side {
    width: 45%;
}

.left-side {
    width: 55%;
}

.right-side .heading {
    font-size: 15px;
    color: #7a7a7a;
    line-height: 2.25;
}

.right-side .heading-1 {
    font-size: 26px;
    line-height: 2.25;

}

.right-side .head-1 {
    font-size: 16px;
    line-height: 2.25;

}

.store-buttons {
    display: flex;
    gap: 14px;
    padding-top: 50px;
}

.store-buttons img {
    height: 44px;
    cursor: pointer;
}

.map {

    width: 100%;
    margin-top: 15px;
    height: auto;
    max-width: 98%;
    overflow: hidden;
    margin-right: 15px;
    margin-left: 15px;


}

.map img {
    width: 100%;
    max-width: 100%;
    height: auto;

    display: block;
}



.abt-bykea {
    margin-top: 50px;
    width: 100%;
    height: auto;
    max-width: 98%;
    overflow: hidden;
    margin-right: 15px;
    margin-left: 15px;



}

.abt-bykea h2 {
    margin-bottom: 15px;
}

.abt-bykea img {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 20px;

}

.abt-bykea p {
    margin-top: 15px;
}

.abt-bykea button {
    width: 180px;
    height: 45px;
    background-color: #242948;
    color: white;
    font-size: 17px;
    padding: 8px 15px;
    border-radius: 15px;
    margin-bottom: 50px;

}
.customer{
    
    width: 85%;
    margin: 0 auto;
    margin-top: 50px;
    height: auto;
    max-width: 98%;
    overflow: hidden;

}
.customer h3{
    font-size: 17px;
    color: #7a7a7a;
}
.customer h2{
    font-size: 38px;
    color: #242948;
}
.customer img{
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 20px;
    margin-top: 25px;
}
.footer {
  background: #252b48;
  color: #ffffff;
  padding: 60px 70px 30px;
  margin-top: 50px;
}

.footer-top {
  display: grid;
  grid-template-columns: 1.4fr 1fr 1fr 1fr;
  gap: 40px;
  border-bottom: 1px solid rgba(255,255,255,0.2);
  padding-bottom: 40px;
}

.logo {
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 10px;
}

.tagline {
  margin-bottom: 20px;
  opacity: 0.9;
}

.contact {
  margin-bottom: 10px;
  font-size: 14px;
}

.app-buttons {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.app-buttons img {
  height: 40px;
  cursor: pointer;
}

.footer-col h4 {
  font-size: 16px;
  margin-bottom: 15px;
}

.footer-col ul {
  list-style: none;
  padding: 0;
  margin: 0;
  
}

.footer-col ul li {
  font-size: 14px;
  margin-bottom: 10px;
  opacity: 0.85;
  cursor: pointer;
}

.footer-col ul li:hover {
  opacity: 1;
}

.mt {
  margin-top: 25px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
  font-size: 14px;
  flex-wrap: wrap;
  gap: 20px;
}

.footer-links span {
  margin-right: 20px;
  cursor: pointer;
}

.social span {
  margin-left: 15px;
  cursor: pointer;
  font-size: 18px;
}


/* ================== RESPONSIVE ================== */
@media (max-width: 991px) {

  nav {
    flex-direction: column;
    height: auto;
    padding: 15px;
  }

  .menu {
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }

  .sec-1 {
    width: 95%;
    padding-top: 60px;
    height: auto;
  }

  .content-2 {
    flex-direction: column;
    height: auto;
    width: 95%;
  }

  .left-side,
  .right-side {
    width: 100%;
  }

  .left-side img {
    height: auto;
    max-width: 100%;
  }

  .right-side .heading-1 {
    font-size: 22px;
    line-height: 1.5;
  }

  .store-buttons {
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer {
    padding: 40px 20px;
  }

  .footer-top {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  .footer-bottom {
    flex-direction: column;
    text-align: center;
  }
}

/* MOBILE SMALL */
@media (max-width: 576px) {

  .footer-top {
    grid-template-columns: 1fr;
  }

  .section-title {
    font-size: 32px;
  }

  .right-side .heading-1 {
    font-size: 20px;
  }

  .customer h2 {
    font-size: 26px;
  }
}
